# xcode noise
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective 
*.perspectivev3
*.pyc 
*~.nib/
build/*

*.xcuserdatad/
*/xcuserdata/*
*.xcworkspace/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcuserdata/*

# old skool
.svn

# osx noise
.DS_Store
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes