#include "Common.xcconfig"

COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
VALIDATE_PRODUCT = NO
PREBINDING = NO

GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
GCC_SYMBOLS_PRIVATE_EXTERN = NO

ONLY_ACTIVE_ARCH = YES

OTHER_CFLAGS = $(JC_DIAGNOSTIC_FLAGS)

// Code coverage - you 'll need -fprofile-arcs -ftest-coverage in any target including this
GCC_GENERATE_TEST_COVERAGE_FILES = NO
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = NO
