#include "Common.xcconfig"

COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
VALIDATE_PRODUCT = YES
// PREBINDING = ?

GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = s
GCC_PREPROCESSOR_DEFINITIONS = NS_BLOCK_ASSERTIONS=1 DEBUG=0
GCC_SYMBOLS_PRIVATE_EXTERN = NO

ONLY_ACTIVE_ARCH = NO

OTHER_CFLAGS = $(JC_DIAGNOSTIC_FLAGS)

// Code coverage
GCC_GENERATE_TEST_COVERAGE_FILES = NO
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS = NO